* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--font-body);
  color: var(--color-text);
  background-color: var(--color-bg);
}

#root > header {
  width: 100%;
  height: var(--header-height);
  padding: var(--spacing-default);
  background-color: var(--color-bg-secondary);
  display: flex;
  justify-content: space-between;
  grid-template-columns: minmax(auto, calc(var(--page-max-width)));
  position: fixed;
  top: 0;
  z-index: var(--z-above);

  a {
    color: var(--color-text-secondary);

    &:hover {
      color: var(--color-accent);
    }
  }
}

#root > main {
  min-height: 100dvh;
  padding: var(--spacing-default);
  padding-top: calc(var(--header-height) + var(--spacing-default));

  display: grid;
  grid-template-columns: minmax(auto, calc(var(--page-max-width)));
  grid-auto-rows: min-content;
  justify-content: center;
  align-items: start;
}

a {
  color: var(--color-text);
  text-decoration: none;

  &:hover {
    color: var(--color-accent);
  }
}

h1 {
  margin: 0;
  font-size: var(--font-size-headline);
}

input,
button {
  border-radius: var(--radius-full);
  padding: var(--spacing-quarter) var(--spacing-default);
  font-size: var(--font-size-body);
}

input {
  font-family: var(--font-body);
  color: var(--color-text);
  border: var(--border-default);
}

button {
  background-color: var(--color-accent);
  color: var(--color-text-secondary);
  border: none;
  cursor: pointer;
}

section {
  margin: var(--spacing-default) 0;
}
